*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(31, 4, 31);
}
.overall-container{
    padding: 40px;   
}
.wrapper{
    margin: 0 auto;
    display: grid;
    max-width: 900px;
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);

}
.wrapper > div{
    
    padding: 10px;
}
.one{
    grid-column: 1/3;
    grid-row: 1;
    height: 200px;
    background-color: red;
}
.two{
   background-color: orange;
    grid-row: 1;
}
.three{
    grid-column: 1;
    grid-row: 2/5;
    height: 200px;
    background-color:green;
    
}
.four{
   background-color: blue;
   grid-column: 2/4;  
}
.five{
    background-color: blue;
    grid-column: 2/4;
    height: 90px;
}

.bttn {
    text-align: center;
    text-decoration: none;
    margin: auto;
 }
 .bttn2 {
    
    margin-top: -10px;
 }
p a{
    text-decoration: none;
    border: 2px solid white;
    padding: 10px 10px 10px 12px;
    color: white;
    border-radius: 5px ;
}
p a:hover{
    background-color: white;
    color: purple;
    border: 2px solid purple;
    border-radius: 5px ;
}
.mp{
    margin-top: -70px;
}

@media(min-width: 375px){
    .bttn{
       display: grid; 
    }
    
}
