:root{
--Bright-orange: hsl(31, 77%, 52%);
--Dark-cyan: hsl(184, 100%, 22%);
--Very-dark-cyan: hsl(179, 100%, 13%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, button{
    font-family: 'Lexend Deca', sans-serif;
}
.d_container{
    padding: 10px; 
}
.d_card{
    padding: 30px;
    
}
h3{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 29px;
}
P{
    font-size: 15px;
    line-height: 1.7;
}
.orange{
    background-color: var(--Bright-orange);
    color: #fff;
    border-radius: 10px 10px 0 0;
}
.dark{
    background-color: var(--Dark-cyan);
    color: #fff;
}
.very{
    background-color: var(--Very-dark-cyan);
    color: #fff;
    border-radius: 0 0 10px 10px;
}

.button {
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #ffffff;
    border-radius: 30px;
    padding: 10px 20px;
    transition: all 0.4s ease-in-out;
}
.button:hover {
    background-color: transparent;
    color: #fff;
}
.orange .button{
    color: var(--Bright-orange);
}
.dark .button{
    color: var(--Dark-cyan);
}

.very .button{
    color: var(--Very-dark-cyan);
}
.orange .button:hover{
    color: #ffffff;
}
.dark .button:hover{
    color: #ffffff;
}
.very .button:hover{
    color: #ffffff;
}
.d_card img{
    margin-bottom: 26px;
}
.d_card h3{
    margin-bottom: 20px;
}
.d_card p{
    margin-bottom: 30px;
}

@media(min-width: 992px) {
    .d_container {
        display: flex;
        align-items: center;
        min-height: 10vh;
        justify-content: center;
        max-width: 900px;
        margin: auto;
        padding-top: 50px;
    }
.orange {
    border-radius: 10px 0 0 10px;
}
.very{
    border-radius: 0 10px 10px 0;
}
.d_card{
    padding: 40px;
}
.d_card{
    margin-bottom: 90px5
}
}

.bttn {
    text-align: center;
    text-decoration: none;
    margin: auto;
    margin-top: 60px;
 }
 .bttn2{
    margin-top: 23px;
 }
p a{
    text-decoration: none;
    border: 2px solid hsl(179, 100%, 13%);
    padding: 10px 10px 10px 12px;
    color: hsl(179, 100%, 13%);
    border-radius: 5px ;
}
p a:hover{
    background-color: hsl(179, 100%, 13%);
    color: white;
    border: 2px solid hsl(179, 100%, 13%);
    border-radius: 5px ;
}
.mp{
    margin-bottom: -100px;
}
.my{
    margin-bottom: -120px;
}
@media(min-width: 375px){

    p .my{
        margin-top: 20px;
    }
}

