*:after
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: #080710;
}



.form{
    border-radius: 15px;
    backdrop-filter: blur(5px);
    border: 2px solid rgba(116, 111, 111, 0.13);
    height: 550px;
    width: 600px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
form.form{
    color: white;
    outline: none;
    border: none;
    letter-spacing: 0.7;
}

img{
    height: 100px;
    width: 100px;
    margin-left: 150px;
    background-color: white;
    margin-right: 150px;
    margin-top: -10px;
    
}

h2, h1{
    
    text-align: center;
    font-weight: 500;
    line-height: 40px;
    font-family: 'Poppins',sans-serif;
}
h2{
    font-size: 20px;
    margin-top: -30px;
}
label{
    display: block;
    margin-top: 5px;
    /* margin-left: 45px; */
    font-size: 15px;
    font-weight: 500;
    font-family: 'Poppins',sans-serif;
    
}
input{
    display: block;
    width: 197px;
    height: 30px;
    margin: auto;
    border-radius: 3px;
    border: none;
    background-color: #1a1a1d;
    color: white;
    padding: 0 10px;
    
}
.div_input{
    display: flex;
}
.label_input1{
    margin-right: 42px
}
.label_input2{
    margin-right: 20px;  
    
}
.label_input2 h4{
    font-family: 'Poppins',sans-serif;  
    margin-top: px;
}
.div_input1{
    margin-left: 40px;
}
.radio_input{
    display: flex;
    width: 20%;
    margin-top:-20px;
}
input[type="radio"] {
    margin-left: 10px;
}
.radio_input .female{
    margin-left: 10px;
}
.input1{
    display: flex;
    margin: auto;
}

.check1{
    display: flex;
}
.check1 p{
    margin: auto;
    margin-top: 5px;
}
input[type="checkbox"]{
    width: 18px;
    margin-right: 15px;
}
.check1 .checkbox {
    width: 25px;
}

.check1 a{
    margin-top: 15px;
    color: #23a2f6;
}
button{
    margin-top: 25px;
    margin-left: 40px;
    padding: 15px 0;
    width: 80%;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-family: 'Poppins',sans-serif;  
}
button:hover{
    background-color: rgb(66, 175, 66);
    color: white;
}
.media{
    display: flex;
    margin-top: 7px;
}
.media div{
    width: 206px;
    border-radius: 3px;
    padding: 10px 10px 10px 5px;
    background-color: rgba(255,255,255,0.47);
    text-align: center;
    margin-left: 40px;
    font-family: 'Poppins',sans-serif;
    cursor: pointer;
}
.media i{
    color: rgb(51, 47, 47);
    font-weight: 800;
}
.linkedin a,
.google a{
    text-decoration: none;
    color: rgb(51, 47, 47);
    font-family: 'Poppins',sans-serif;
    margin-left: 10px;
}
.linkedin:hover{
    background-color: #4285F4;
}
.google:hover{
    background-color: #4285F4;
}

.withit h4{
    text-align: center;
    font-family: 'Poppins',sans-serif;
    word-spacing: 3px;
}
